<table>
    <tr>
        <td><img src="https://avatars.githubusercontent.com/u/162536197?v=4"><h2>Email: ramsesfeliciano&#64;gmail.com</h2><a href="https://www.linkedin.com/in/ramses-feliciano/"><h2>LinkedIn: https://www.linkedin.com/in/ramses-feliciano/</h2></a></td>
        <td>
            <h1>Welcome!</h1>
            <h2>I am Ramses Feliciano, an aspiring Software Developer looking for complex problems to solve as I continue to learn and grow in my pursuit to become an expert. I am looking to utilize my passion and ability to learn quickly in order to gain practical experience to further my growth as I continue chasing my goals.</h2>
            <h2>I primarily create full stack websites using C# for back-end, SQL for databases, and Javascript for front-end though I am always open to adding more to my tech stack and facing new problems with unfamiliar solutions.</h2>
            <h2>Should you desire to feel free to contact me anytime, I'd love to chat with you about any questions, advice, or opportunities you may have for me! </h2>
        </td>
    </tr>

</table>

