<table>
    <tr>
        <td><h1>Elden Ring Database</h1></td>
        <td><h2>Tech Stack: SQL, C#, Rest API, Web API, Javascript, Typescript, Angular, HTML, CSS, OOP</h2></td>
        <td><h2>GitHub: <a href="https://github.com/RamsesFel/EldenRingBuildFrontend">Front-End </a> <a href="https://github.com/RamsesFel/EldenRingBuildBackend">Back-End </a> <a href="https://github.com/RamsesFel/Elden-Ring-Database">SQL</a></h2></td>
        <td><h2>Description: This website is based on the video game Elden Ring and allows players to upload and share their in game characters for other users to copy to try out on their own playthroughs. The intent of this website is to give users new ideas and insperations to replay through the game or help other play the game by suggesting builds that may be easier for new players or builds that are specifically designed to be better aganinst certain enemies. This website would be benefital to anyone who enjoys the game by giving new ideas for players that want to replay the game, giving helpful builds to people struggling against certain enemies, and allowing veteraen players the ability to post their best builds for certain playstyles.</h2></td>
        <td><iframe width="500" height="500" src="https://www.youtube.com/embed/NUeOjknIt2M" title="Elden Ring Build Database Demo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td><h1>Social Events Website</h1></td>
        <td><h2>Tech Stack: SQL, C#, Rest API, Javascript, Angular, HTML, CSS, OOP</h2></td>
        <td><h2>GitHub: <a href="https://github.com/RamsesFel/EventFrontEnd">Front-End </a> <a href="https://github.com/RamsesFel/Events_backend">Back-End</a> <a href="https://github.com/RamsesFel/EventDB-SQL"> SQL</a></h2></td>
        <td><h2>Description: This website allows users to share events that are happening with other users and allows those users to add those events to their profile page in order to keep track of them. Users can search for different events through a search filter and favorite any events that they find interesting or may want to attend. Should an event get canceled or changed in any way that change will reflect on all users pages so they can remain up to date. </h2></td>
        <td><video><source src=""></video></td>

    </tr>
</table>